@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .list-none {
    list-style-type: none;
  }
  .list-none::-webkit-details-marker {
    display: none;
  }
 
  .table-sticky-header,
  .table-sticky-header th {
    box-shadow: inset 0px .5px rgb(229,231,235), 0px .5px rgb(229,231,235);
  }

}
