@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .list-none {
    list-style-type: none;
  }
  .list-none::-webkit-details-marker {
    display: none;
  }
 
  table tr th td {
    border-radius: 0.25rem;
  }
}
